
/*Reset css*/
*{
    margin: 0;
    padding: 0;
    font-family:'Inclusive Sans', sans-serif;  
}

body{
    background-color: rgb(242, 239, 239);
}
/* Estilo del "PADRE" 
.contaiener{ 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* INDEX */

.navbar{
    height: 75px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}
/*
.navbar-brand{
    padding: 130px;  Separa el logo o el nombre de la empresa del margen
}
*/
.collapse{
    justify-content: end; /*Mandamos los hijos al final del header*/
    padding: 100px;
}

.collapse .navbar-nav .nav-item{
    padding: 0px 20px;  /* separamos los items ente si por un ancho de 20px*/
}

/* transiciones del header*/
.nav-item a:hover{  
    transform: scale(1.2);
}
.nav-item a p:hover{
    color: white;
}


.section{
    display: flex;
    flex-direction:row;
    padding: 5px 0px;
}
.section div  h5{
    justify-content: start;
    color: rgb(157, 93, 216);
    padding: 50px 0px ;
    margin: 20px ;
    font-size: 24px;
}
.section video{
    
    position: relative; /* Permite el desplazamiento relativo del video*/
    left: 200px;  /* Mueve el video 300px hacia la derecha*/
    top: 100px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
   
}

.section .titulo-grande{
    color: white;
    
}
.section  div p{
    color:white;
    justify-content: space-between;
    font-size: 60px;
    
}
.section div div p{
    font-size: 16px;
}
.botonInscripcion button{
    background-color: rgb(157, 93, 216);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    width: 140px;
    height: 43px;
    border-color:rgb(157, 93, 216);
    
    
}

.botonInscripcion button{
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: rgb(157, 93, 216);
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}


/* Transicion para el boton de inscripcion*/
.botonInscripcion button:hover{
    color: black;
}
.botonInscripcion button span{
    position: absolute;
    background-color: white;
    transition: .5s;
}
.botonInscripcion button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}
.botonInscripcion button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}
.botonInscripcion button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}
.botonInscripcion button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}
.botonInscripcion button:hover span:nth-child(1){
    left: 0;
}
.botonInscripcion button:hover span:nth-child(2){
    right: 0;
}
.botonInscripcion button:hover span:nth-child(3){
    bottom: 0;
}
.botonInscripcion button:hover span:nth-child(4){
    top: 0;
}
.botonInscripcion button a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* About Us*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Blog Academy*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Contact*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Teachers*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Footer */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(26, 29, 55);;
    color: white;
    height: 55px;
    
}
.footer-redsocial img{
    width: 40px;
}

.footer .footer-tex {
  
    padding: 20px;
}
.footer-redsocial a{
    text-decoration: none;
}
.footer-redsocial a img{
    
    height: 50px;
    width: 50px;
    padding: 10px;
    
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*MEDIA QUERIES - MOBILE*/

@media (max-width:375px){  /* max-width es para que ocupe el maximo de la pantalla entre 0px y 375px */
    
    
    /*Boton inscripcion*/
    .botonInscripcion button{
        width: 110px;
        height: 33px; 

    }
  
    .section{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
    
    }
    .section div  h5{
        text-align: center;
        
        padding: 50px 0px ;
        margin: 20px ;
        font-size: 17px;
    }
    .section  div p{
        text-align: center;
        color:white;
        font-size: 30px;
        
    }
   
    .section video{
        width: 320px;
        position:static; /* Permite el desplazamiento relativo del video*/
        right: 300px;  /* Mueve el video 300px hacia la derecha*/
        top: -100px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
       
    }
    .footer{
        
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        
    }
    .footer .footer-tex{
        font-size: 12px;
        
    }
    .footer-redsocial {
        
        justify-content: center;
        align-items: center;
    }
  
    
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*MEDIA QUERIES - TABLET*/

@media (min-width:376px) and (max-width:992px){ /* min-width es la menor cantidad de px hasta el mayor*/ /* El operador and nos permite combinar (sumar)resoluciones */
    header{
        background-color: rgb(4, 53, 37);
    }
}