
/*Reset css*/
*{
    margin: 0;
    padding: 0;
    font-family:'Inclusive Sans', sans-serif;  
}

body{
    background-color: rgb(0, 0, 0);
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* INDEX */

.navbar{
    height: 75px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}

/* Logo de mi pagina*/
.navbar img{
    object-fit: contain;
    display: block;
    width: auto;
    height: 2.9375rem;
    position: relative;
    left: 280px;
}
.navbar .container-fluid i{
    padding: 40px;
}
.collapse{
    justify-content: end; /*Mandamos los hijos al final del header*/
    padding: 100px;
}

.collapse .navbar-nav .nav-item{
    padding: 0px 20px;  /* separamos los items ente si por un ancho de 20px*/
}

/* transiciones del header*/
.nav-item a:hover{  
    transform: scale(1.2);
}
.nav-item a p:hover{
    color: white;
}
.section-index{
    display: flex;
    flex-direction:row;
    padding: 5px 0px;
}
.section-index div  h5{
    position: relative;
    top: 100px;
    color: #b06bff;   
    padding: 20px 20px ;
    margin: 20px ;
    font-size: 24px;
} 
h5::before{  /* Linea al comienza del h5*/
    content: '';
    background-color:#b06bff;
    position: absolute;
    top: 50%;
    left: -16px;
    width: 30px;
    height: 1.5px;
}
.section-index video{
    
    position: relative; /* Permite el desplazamiento relativo del video*/
    left: 200px;  /* Mueve el video 300px hacia la derecha*/
    top: 100px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
   
}

.section-index  div p{
    position: relative;
    top: 80px;
    color:white;
    justify-content: space-between;
    font-size: 60px;
    
}
.section-index div div p{
    position: relative;
    top: 85px;
    font-size: 16px;
}
.botonInscripcion button{
    background-color: #b06bff;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    width: 140px;
    height: 43px;
    border-color:#b06bff;
}

.botonInscripcion button{
    position: relative;
    top: 110px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #b06bff;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}


/* Transicion para el boton de inscripcion*/ /* Usando seudoclases */
.botonInscripcion button:hover{
    color: black;
}
.botonInscripcion button span{
    position: absolute;
    background-color: white;
    transition: .5s;
}
.botonInscripcion button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}
.botonInscripcion button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}
.botonInscripcion button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}
.botonInscripcion button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}
.botonInscripcion button:hover span:nth-child(1){
    left: 0;
}
.botonInscripcion button:hover span:nth-child(2){
    right: 0;
}
.botonInscripcion button:hover span:nth-child(3){
    bottom: 0;
}
.botonInscripcion button:hover span:nth-child(4){
    top: 0;
}
.botonInscripcion button a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* About Us*/

.body-aboutUs{
    background-color:  rgb(26, 29, 55);
}
.section-aboutUs{
    color: white;
}
.section-aboutUs .section-titulos{
    text-align: center;
}
.section-aboutUs .section-titulos h6{
    position: relative;
    top: 70px;
    color: #b06bff;
    
}
.section-aboutUs .section-titulos h4{
    position: relative;
    top: 80px;
    font-size: 45px;
    color: #b06bff;
}
.section-aboutUs .section-titulos p{
    position: relative;
    top: 95px;
    font-size: 19px;
}

/* Contenido de img y parrafo*/
.img-contenido{   
    position: absolute  ;
    left: 370px;
    top: 500px;


}
.img-contenido h6{
    font-size: 17px;
}
.img-contenido p{
    font-size: 14.5px;
    
}
.img-contenido i{
    position: relative;
    top: 60px;
    left:-100px;
}
/* Posicion de los iconos con los parrafos*/
.iconPerson i{
    top: 75px;
    
}
.iconSinLimites i{
    top: 70px;
    
}
.img-contenido .sinlimites{
    padding: 0px 0px 100px;
}

/* Imagen de  fondo*/
.section-aboutUs .imgFondo{
    display: flex;
    justify-content: flex-end;
}
.section-aboutUs .imgFondo img{
    position: relative;
    left: -210px;
    top: 220px;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Blog Academy*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Contact*/

.body-contact{
    background-color:  rgb(26, 29, 55);
}

.section-contact{
    color: white;
    text-align: center;
    padding: 100px; 
} 
.section-contact div h3{
    position: relative;
    left: 70px;
    font-size: 70px;
    
}
.section-contact div p{
    padding-left: 150px;
    font-size: 16px;
}

form{
    position: absolute;
    left: 700px;
    top: 350px ;
}

form label{
    color: rgb(255, 255, 255); /* cambiamos el color a los titulos del formulario*/
    
}
.form-control{
    width: 55%;
    height: 40px;
}
.input-group{
    width: 55%;
    
}
.col-md-3{ /* el formulario provincia lo muevo para que quede al lado del inpum ciudad*/
 position: relative;
 left: -240px;
} 

/*Imagen contacto */
.imgContact img{
    position: relative ;
    left: 200px;
    width: 450px;
    
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Teachers*/

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Footer */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgb(0, 0, 0); 
    color: white;
    height: 55px;
    
}

.footer i{
    color:  #ffffff;
    padding: 20px;
   
}

.footer-tex {
    padding: 20px;
}
.footer-redsocial a{
    text-decoration: none;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*MEDIA QUERIES - MOBILE*/

@media (max-width:575px){  /* max-width es para que ocupe el maximo de la pantalla entre 0px y 375px */
    
    *{
        margin: 0;
    }
    /* INDEX */
  
    .navbar-brand{
        font-size: 16px;
    }

    .navbar img{
        object-fit: contain;
        display: block;
        width: auto;
        height: 2.9375rem;
        position: relative;
        left: 30px;
    }

    /*Boton inscripcion*/

    .botonInscripcion button{
        display: flex;
        align-items: center;
        position: relative;
        top: -90px;
        width: 110px;
        height: 33px; 

    }
  
    .section-index{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px 10px;
    
    }
    .section-index div  h5{
        text-align: center;
        padding: 50px 0px ;
        margin: 20px ;
        font-size: 17px;
        top: -50px;
    }
    h5::before{  /* Linea al comienza del h5*/
        top: 42%;
        left: 1px;
        width: 20px;
        
    }
    .section-index  div p{
        text-align: center;
        color:rgb(255, 255, 255);
        font-size: 30px;
        top: -90px;
        
    }
    .section-index div div p{
        top: -100px;
        font-size: 16px;
    }
    .section-index video{
        width: 320px;
        position:relative; /* Permite el desplazamiento relativo del video*/
        top: -150px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
        left: 15px;
    }
    
  
    /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    /*Contact*/
    
    .section-contact{
        display: flex;
        flex-direction: row;
    }
    .section-contact div h3{
        
        flex-direction: row;
        left: 0px ;
        top: -60px;
        font-size: 30px;
        
    }
    .section-contact div p{
        position: absolute;
        left: 0;
        top: 230px;
        margin: 0px 18px;
        text-align: justify;
        
    }
    .section-contact div p{
        padding-left: 0px;
        font-size: 17px;
    }
    
    form{
        position: relative;
        left: 60px ;
        top: 150px;
        margin: 250px ;
        font-size: 14px;

       
    }
    .form-control{
        width: 70%;
        height: 40px;
    }
    .input-group{
        width: 70%;
        
    }
    .col-md-3{ /* el formulario provincia lo muevo para que quede al lado del inpum ciudad*/
     
        width: 70%;
        left: 0px;
     
    }  

    /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    /* Footer */
    
    .footer{
        
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        
    }
    .footer-tex{
        font-size: 12px;
        
    }
    .footer-redsocial {
        
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    body{
        background-color: aliceblue;
    }
 }