.body-contact{
    background-color:  rgb(26, 29, 55);
}

.section-contact{
    color: white;
    text-align: center;
    padding: 100px; 

    div{
        h1{
            position: relative;
            left: 10px;
            font-size: 70px;  
        }
        p{
            padding-left: 0px;
            font-size: 16px;
        }
    }
    
}

form{
    
    position: absolute;
    left: 300px;
    top: 370px ;

    label{
        color: rgb(255, 255, 255); 
    }
    .form-control{
        width: 45%;
        height: 40px;
    }
    .input-group{
        width: 45%; 
    }

    // El formulario provincia lo muevo para que quede al lado del inpum ciudad
    .col-md-3{ 
        position: relative;
        left: -400px;
        width: 20%;
    } 

}

.imgContact{
        
    img{
        position: relative;
        top: -50px;
        left: 1200px;
        width: 600px;
            
    }
}
