//vista 320 px a 375px
@media only screen and (min-width: 320px) and (max-width:375px){
    
    //header
    .navbar{
        //Logo de mi pagina
        img{
            left: 30px;
        }
    }

    //index
    
    
    .section-index{
        flex-direction:column;
        div{
            h1{
                text-align: center;  
                font-size: 20px;
                top: 60px;
            }
        }
    
        video{
            position: relative; /* Permite el desplazamiento relativo del video*/
            left: 0px;  /* Mueve el video 300px hacia la derecha*/
            top: 100px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
            width: auto;
        }
    
        div {
            p{
                text-align: center;
                font-size: 37px;
            }
        }
        div{
            div{
                p{
                    position: relative;
                    top: 85px;
                    font-size: 16px;
                }
            }
        }
    
    }

    //AboutUS
    
    .section-aboutUs{
        display: flex;
        flex-direction: column;
        .section-titulos{
            text-align: center;
    
            
            h1{
                top: 100px;
                font-size: 28px;
            }
            h2{
                
                top: 90px;
                font-size: 15px;
            }
            p{
                padding: 15px;
                text-align: justify;
                top: 100px;
                font-size: 16px;  
            }
        }
    
        //Contenido de img y parrafos
        
        .img-contenido{
            
            position: relative;
            left: 0px;
            top: 400px;
    
            
            h6{
                font-size: 15px;
                padding-top: 60px;
                text-align: center;
            }
            p{
                
                font-size: 12.5px;
                padding: 10px;
                text-align: center;
            }
            i{
                
                top: 20px;
                left: 150px;
            }
    
            //Posicion de los iconos con los parrafos
            .iconPerson i{
                top: 10px;
            }
            .iconSinLimites i{
                top: 20px;
                
            }
         
        }
        
        //imagen de fondo
        .imgFondo{
            justify-content: center;
            img{
                left: 2px;
                width: 250px;
                top: -950px; 
            }
        }
        
    }

    //Blog de la academia
    body,html{
        height: 150%;
    }
    
    
    //Parte negra
    .section{
    
        width: 100%;
       
        .titulo-blog h1{
            top: 60px;
            font-size: 35px;
            
        }
        .boton-busqueda{
            top: 120px;
            left: 20px;
            text-align: center;
            
            input{
                width: 60%;
            }
        }
    }
    
    .tarjetas-section{
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .conteiner-blog {


            //para q se vea una abajo de la otra
            flex-direction: column;
            align-items: center;




            width: 100%;
            display: flex;
            justify-content: space-around; /* Alinea las tarjetas con espacio alrededor */
            max-width: 1100px;
        }
    
        .card {
            width: 80%;/* Ajusta el ancho según tus necesidades */
            
    
            
            img {
                width: 100%;
                height: 180px;
            }
            .contenido {
                padding: 15px;
                text-align: center;
                p {
                    line-height: 1.5;
                    color: #6a6a6a;
                }
                h3 {
                    font-weight: 400;
                    margin-bottom: 15px;
                }
            }
        }
    }
       
    


    //Contacto
    
    
    .body-contact{
        height: 110%;
    }
    .section-contact{
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px; 
        
    
        div{
            h1{
                position: relative;
                top: 120px;
                font-size: 30px;  
            }
            p{
                padding: 30px;
                text-align: justify;
                position: relative;
                top: 120px;
                font-size: 16px;
            }
        }
        
    }
    
    form{
        
        position: absolute;
        left: 80px;
        top: 740px ;
    
        label{
            color: rgb(255, 255, 255); 
        }
        .form-control{
            
            width: 80%;
            height: 40px;
        }
        .input-group{
            width: 80%; 
        }
    
        // El formulario provincia lo muevo para que quede al lado del inpum ciudad
        .col-md-3{ 
            position: relative;
            left:0px;
            width: 80%;
        } 
    
    }
    
    .imgContact{
            
        img{
            position: relative;
            text-align: center;
            top: 150px;
            left: 50px;
            width: 250px;
                
        }
    }
    
    
    //footer
    .footer{
        
        flex-direction: column;
        height: 80px;
    
        i{
            
            padding: 10px;
            position: relative;
            top: -25px;
            left: 70px;
                        
        }
        
        .footer-tex{
            padding: 20px;
            font-size: 11px;
            
        }
        
    }
}


//vista 375 px a 425px
@media only screen and (min-width: 375px) and (max-width:425px){
    
    //header
    .navbar{
        //Logo de mi pagina
        img{
            left: 50px;
        }
    }

    //index
    
    .section-index{
        flex-direction:column;
        div{
            h1{
                text-align: center;  
                font-size: 20px;
                top: 60px;
            }
        }
    
        video{
            position: relative; /* Permite el desplazamiento relativo del video*/
            left: 0px;  /* Mueve el video 300px hacia la derecha*/
            top: 100px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
            width: auto;
        }
    
        div {
            p{
                text-align: center;
                font-size: 37px;
            }
        }
        div{
            div{
                p{
                    position: relative;
                    top: 85px;
                    font-size: 16px;
                }
            }
        }
    
    }

    //AboutUS
    
    .section-aboutUs{
        display: flex;
        flex-direction: column;
        .section-titulos{
            text-align: center;
    
            
            h1{
                top: 100px;
                font-size: 28px;
            }
            h2{
                
                top: 90px;
                font-size: 15px;
            }
            p{
                padding: 15px;
                text-align: justify;
                top: 100px;
                font-size: 16px;  
            }
        }
    
        //Contenido de img y parrafos
        
        .img-contenido{
            
            position: relative;
            left: 0px;
            top: 400px;
    
            
            h6{
                font-size: 15px;
                padding-top: 60px;
                text-align: center;
            }
            p{
                
                font-size: 12.5px;
                padding: 10px;
                text-align: center;
            }
            i{
                
                top: 20px;
                left: 190px;
            }
    
            //Posicion de los iconos con los parrafos
            .iconPerson i{
                top: 10px;
            }
            .iconSinLimites i{
                top: 20px;
                
                
            }
         
        }
        
        //imagen de fondo
        .imgFondo{
            justify-content: center;
            img{
                left: 2px;
                width: 250px;
                top: -950px; 
            }
        }
        
    }

    //Blog de la academia
    body,html{
        height: 150%;
    }
    
    
    //Parte negra
    .section{
    
        width: 100%;
       
        .titulo-blog h1{
            top: 60px;
            font-size: 35px;
            
        }
        .boton-busqueda{
            top: 120px;
            left: 20px;
            text-align: center;
            
            input{
                width: 60%;
            }
        }
    }
    
    .tarjetas-section{
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .conteiner-blog {


            //para q se vea una abajo de la otra
            flex-direction: column;
            align-items: center;




            width: 100%;
            display: flex;
            justify-content: space-around; /* Alinea las tarjetas con espacio alrededor */
            max-width: 1100px;
        }
    
        .card {
            width: 80%;/* Ajusta el ancho según tus necesidades */
            
    
            
            img {
                width: 100%;
                height: 180px;
            }
            .contenido {
                padding: 15px;
                text-align: center;
                p {
                    line-height: 1.5;
                    color: #6a6a6a;
                }
                h3 {
                    font-weight: 400;
                    margin-bottom: 15px;
                }
            }
        }
    }

    //Contacto
    
    
    .body-contact{
        height: 110%;
    }
    .section-contact{
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px; 
        
    
        div{
            h1{
                position: relative;
                top: 120px;
                font-size: 30px;  
            }
            p{
                padding: 30px;
                text-align: justify;
                position: relative;
                top: 120px;
                font-size: 16px;
            }
        }
        
    }
    
    form{
        
        position: absolute;
        left: 80px;
        top: 700px ;
    
        label{
            color: rgb(255, 255, 255); 
        }
        .form-control{
            
            width: 80%;
            height: 40px;
        }
        .input-group{
            width: 80%; 
        }
    
        // El formulario provincia lo muevo para que quede al lado del inpum ciudad
        .col-md-3{ 
            position: relative;
            left:0px;
            width: 80%;
        } 
    
    }
    
    .imgContact{
            
        img{
            position: relative;
            text-align: center;
            top: 150px;
            left: 50px;
            width: 300px;
                
        }
    }

    //footer
    .footer{
        text-align: center;
        flex-direction: column;
        height: 80px;
    
        i{
            
            padding: 10px;
            position: relative;
            top: -25px;
            left: 10px;
                        
        }
        
        .footer-tex{
            padding: 20px;
            font-size: 11px;
            
        }
        
    }
    
}




//Vista mobile
//vista 425px a 500px
@media only screen and (min-width: 425px) and (max-width:500px){
    //header
    .navbar{
        //Logo de mi pagina
        img{
            left: 50px;
        }
    }

    //index
    
    .section-index{
        flex-direction:column;
        div{
            h1{
                text-align: center;  
                font-size: 20px;
                top: 60px;
            }
        }
    
        video{
            position: relative; /* Permite el desplazamiento relativo del video*/
            left: 0px;  /* Mueve el video 300px hacia la derecha*/
            top: 100px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
            width: auto;
        }
    
        div {
            p{
                text-align: center;
                font-size: 37px;
            }
        }
        div{
            div{
                p{
                    position: relative;
                    top: 85px;
                    font-size: 16px;
                }
            }
        }
    
    }

    //AboutUS
    
    .section-aboutUs{
        display: flex;
        flex-direction: column;
        .section-titulos{
            text-align: center;
    
            
            h1{
                top: 100px;
                font-size: 28px;
            }
            h2{
                
                top: 90px;
                font-size: 15px;
            }
            p{
                padding: 15px;
                text-align: justify;
                top: 100px;
                font-size: 16px;  
            }
        }
    
        //Contenido de img y parrafos
        
        .img-contenido{
            
            position: relative;
            left: 0px;
            top: 400px;
    
            
            h6{
                font-size: 15px;
                padding-top: 60px;
                text-align: center;
            }
            p{
                
                font-size: 12.5px;
                padding: 10px;
                text-align: center;
            }
            i{
                
                top: 20px;
                left: 220px;
            }
    
            //Posicion de los iconos con los parrafos
            .iconPerson i{
                top: 10px;
            }
            .iconSinLimites i{
                top: 20px;
                
                
            }
         
        }
        
        //imagen de fondo
        .imgFondo{
            justify-content: center;
            img{
                left: 2px;
                width: 250px;
                top: -920px; 
            }
        }
        
    }

    //Blog de la academia
    body,html{
        height: 150%;
    }
    
    
    //Parte negra
    .section{
    
        width: 100%;
       
        .titulo-blog h1{
            top: 60px;
            font-size: 35px;
            
        }
        .boton-busqueda{
            top: 120px;
            left: 20px;
            text-align: center;
            
            input{
                width: 60%;
            }
        }
    }
    
    .tarjetas-section{
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .conteiner-blog {


            //para q se vea una abajo de la otra
            flex-direction: column;
            align-items: center;




            width: 100%;
            display: flex;
            justify-content: space-around; /* Alinea las tarjetas con espacio alrededor */
            max-width: 1100px;
        }
    
        .card {
            width: 80%;/* Ajusta el ancho según tus necesidades */
            
    
            
            img {
                width: 100%;
                height: 180px;
            }
            .contenido {
                padding: 15px;
                text-align: center;
                p {
                    line-height: 1.5;
                    color: #6a6a6a;
                }
                h3 {
                    font-weight: 400;
                    margin-bottom: 15px;
                }
            }
        }
    }

    //Contacto
    
    
    .body-contact{
        height: 110%;
    }
    .section-contact{
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px; 
        
    
        div{
            h1{
                position: relative;
                top: 120px;
                font-size: 30px;  
            }
            p{
                padding: 30px;
                text-align: justify;
                position: relative;
                top: 120px;
                font-size: 16px;
            }
        }
        
    }
    
    form{
        
        position: absolute;
        left: 80px;
        top: 700px ;
    
        label{
            color: rgb(255, 255, 255); 
        }
        .form-control{
            
            width: 80%;
            height: 40px;
        }
        .input-group{
            width: 80%; 
        }
    
        // El formulario provincia lo muevo para que quede al lado del inpum ciudad
        .col-md-3{ 
            position: relative;
            left:0px;
            width: 80%;
        } 
    
    }
    
    .imgContact{
            
        img{
            position: relative;
            text-align: center;
            top: 150px;
            left: 90px;
            width: 300px;
                
        }
    }

    //footer
    .footer{
        text-align: center;
        flex-direction: column;
        height: 80px;
    
        i{
            
            padding: 10px;
            position: relative;
            top: -25px;
            left: 10px;
                        
        }
        
        .footer-tex{
            padding: 20px;
            font-size: 11px;
            
        }
        
    }
}

//vista  mobile
// vista 500px a 600px
@media only screen and (min-width: 500px) and (max-width:600px){

    //header
     .navbar{
        //Logo de mi pagina
        img{
            left: 50px;
        }
    }

    //index
    
    .section-index{
        flex-direction:column;
        div{
            h1{
                text-align: center;  
                font-size: 20px;
                top: 60px;
            }
        }
    
        video{
            position: relative; /* Permite el desplazamiento relativo del video*/
            left: 0px;  /* Mueve el video 300px hacia la derecha*/
            top: 100px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
            width: auto;
        }
    
        div {
            p{
                text-align: center;
                font-size: 37px;
            }
        }
        div{
            div{
                p{
                    position: relative;
                    top: 85px;
                    font-size: 16px;
                }
            }
        }
    
    }

    //AboutUS
    
    .section-aboutUs{
        display: flex;
        flex-direction: column;
        .section-titulos{
            text-align: center;
    
            
            h1{
                top: 100px;
                font-size: 28px;
            }
            h2{
                
                top: 90px;
                font-size: 15px;
            }
            p{
                padding: 15px;
                text-align: justify;
                top: 100px;
                font-size: 16px;  
            }
        }
    
        //Contenido de img y parrafos
        
        .img-contenido{
            
            position: relative;
            left: 0px;
            top: 400px;
    
            
            h6{
                font-size: 15px;
                padding-top: 60px;
                text-align: center;
            }
            p{
                
                font-size: 12.5px;
                padding: 10px;
                text-align: center;
            }
            i{
                
                top: 20px;
                left: 260px;
            }
            
           
            //Posicion de los iconos con los parrafos
            .iconPerson i{
                top: 10px;
            }
            .iconSinLimites i{
                top: 20px;
                
                
            }
         
        }
        
        //imagen de fondo
        .imgFondo{
            justify-content: center;
            img{
                left: 2px;
                width: 250px;
                top: -850px; 
            }
        }
        
    }

    //Blog de la academia
    body,html{
        height: 150%;
    }
    
    
    //Parte negra
    .section{
    
        width: 100%;
       
        .titulo-blog h1{
            top: 60px;
            font-size: 35px;
            
        }
        .boton-busqueda{
            top: 120px;
            left: 20px;
            text-align: center;
            
            input{
                width: 60%;
            }
        }
    }
    
    .tarjetas-section{
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .conteiner-blog {


            //para q se vea una abajo de la otra
            flex-direction: column;
            align-items: center;




            width: 100%;
            display: flex;
            justify-content: space-around; /* Alinea las tarjetas con espacio alrededor */
            max-width: 1100px;
        }
    
        .card {
            width: 80%;/* Ajusta el ancho según tus necesidades */
            
    
            
            img {
                width: 100%;
                height: 180px;
            }
            .contenido {
                padding: 15px;
                text-align: center;
                p {
                    line-height: 1.5;
                    color: #6a6a6a;
                }
                h3 {
                    font-weight: 400;
                    margin-bottom: 15px;
                }
            }
        }
    }

    //Contacto
    
    
    .body-contact{
        height: 110%;
    }
    .section-contact{
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px; 
        
    
        div{
            h1{
                position: relative;
                top: 120px;
                font-size: 30px;  
            }
            p{
                padding: 30px;
                text-align: justify;
                position: relative;
                top: 120px;
                font-size: 16px;
            }
        }
        
    }
    
    form{
        
        position: absolute;
        left: 80px;
        top: 700px ;
    
        label{
            color: rgb(255, 255, 255); 
        }
        .form-control{
            
            width: 80%;
            height: 40px;
        }
        .input-group{
            width: 80%; 
        }
    
        // El formulario provincia lo muevo para que quede al lado del inpum ciudad
        .col-md-3{ 
            position: relative;
            left:0px;
            width: 80%;
        } 
    
    }
    
    .imgContact{
            
        img{
            position: relative;
            text-align: center;
            top: 150px;
            left: 140px;
            width: 300px;
                
        }
    }

    //footer
    .footer{
        text-align: center;
        flex-direction: column;
        height: 80px;
    
        i{
            
            padding: 10px;
            position: relative;
            top: -25px;
            left: 10px;
                        
        }
        
        .footer-tex{
            padding: 20px;
            font-size: 11px;
            
        }
        
    }
}
@media only screen and (min-width: 600px) and (max-width:768px){

    //header
    .navbar{
        //Logo de mi pagina
        img{
            left: 50px;
        }
    }

    //index
    
    .section-index{
        flex-direction:column;
        div{
            h1{
                text-align: center;  
                font-size: 20px;
                top: 60px;
            }
        }
    
        video{
            position: relative; /* Permite el desplazamiento relativo del video*/
            left: 0px;  /* Mueve el video 300px hacia la derecha*/
            top: 100px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
            width: auto;
        }
    
        div {
            p{
                text-align: center;
                font-size: 37px;
            }
        }
        div{
            div{
                p{
                    position: relative;
                    top: 85px;
                    font-size: 16px;
                }
            }
        }
    
    }

    //AboutUS
    
    .section-aboutUs{
        display: flex;
        flex-direction: column;
        .section-titulos{
            text-align: center;
    
            
            h1{
                top: 100px;
                font-size: 28px;
            }
            h2{
                
                top: 90px;
                font-size: 15px;
            }
            p{
                padding: 15px;
                text-align: justify;
                top: 100px;
                font-size: 16px;  
            }
        }
    
        //Contenido de img y parrafos
        
        .img-contenido{
            
            position: relative;
            left: 0px;
            top: 400px;
    
            
            h6{
                font-size: 15px;
                padding-top: 60px;
                text-align: center;
            }
            p{
                
                font-size: 12.5px;
                padding: 10px;
                text-align: center;
            }
            i{
                
                top: 20px;
                left: 290px;
            }
            
           
            //Posicion de los iconos con los parrafos
            .iconPerson i{
                top: 10px;
            }
            .iconSinLimites i{
                top: 20px;
                
                
            }
         
        }
        
        //imagen de fondo
        .imgFondo{
            justify-content: center;
            img{
                left: 2px;
                width: 250px;
                top: -800px; 
            }
        }
        
    }

    //Blog de la academia
    body,html{
        height: 150%;
    }
    
    
    //Parte negra
    .section{
    
        width: 100%;
       
        .titulo-blog h1{
            top: 60px;
            font-size: 35px;
            
        }
        .boton-busqueda{
            top: 120px;
            left: 20px;
            text-align: center;
            
            input{
                width: 60%;
            }
        }
    }
    
    .tarjetas-section{
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .conteiner-blog {


            //para q se vea una abajo de la otra
            flex-direction: column;
            align-items: center;




            width: 100%;
            display: flex;
            justify-content: space-around; /* Alinea las tarjetas con espacio alrededor */
            max-width: 1100px;
        }
    
        .card {
            width: 80%;/* Ajusta el ancho según tus necesidades */
            
    
            
            img {
                width: 100%;
                height: 180px;
            }
            .contenido {
                padding: 15px;
                text-align: center;
                p {
                    line-height: 1.5;
                    color: #6a6a6a;
                }
                h3 {
                    font-weight: 400;
                    margin-bottom: 15px;
                }
            }
        }
    }

    //Contacto
    
    
    .body-contact{
        height: 110%;
    }
    .section-contact{
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px; 
        
    
        div{
            h1{
                position: relative;
                top: 120px;
                font-size: 30px;  
            }
            p{
                padding: 30px;
                text-align: justify;
                position: relative;
                top: 120px;
                font-size: 16px;
            }
        }
        
    }
    
    form{
        
        position: absolute;
        left: 80px;
        top: 700px ;
    
        label{
            color: rgb(255, 255, 255); 
        }
        .form-control{
            
            width: 80%;
            height: 40px;
        }
        .input-group{
            width: 80%; 
        }
    
        // El formulario provincia lo muevo para que quede al lado del inpum ciudad
        .col-md-3{ 
            position: relative;
            left:0px;
            width: 80%;
        } 
    
    }
    
    .imgContact{
            
        img{
            position: relative;
            text-align: center;
            top: 150px;
            left: 170px;
            width: 360px;
                
        }
    }

    //footer
    .footer{
        text-align: center;
        flex-direction: column;
        height: 80px;
    
        i{
            
            padding: 10px;
            position: relative;
            top: -25px;
            left: 10px;
                        
        }
        
        .footer-tex{
            padding: 20px;
            font-size: 11px;
            
        }
        
    }
}

//vista tablet
//vista 768 px a 1024
@media only screen and (min-width: 768px) and (max-width:1023px){
    //header
    .navbar{
        //Logo de mi pagina
        img{
            left: 50px;
        }
    }

    //index
    
    .section-index{
        flex-direction:column;
        div{
            h1{
                text-align: center;  
                font-size: 20px;
                top: 60px;
            }
        }
    
        video{
            position: relative; /* Permite el desplazamiento relativo del video*/
            left: 0px;  /* Mueve el video 300px hacia la derecha*/
            top: 100px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
            width: auto;
        }
    
        div {
            p{
                text-align: center;
                font-size: 37px;
            }
        }
        div{
            div{
                p{
                    position: relative;
                    top: 85px;
                    font-size: 16px;
                }
            }
        }
    
    }

    //AboutUS
    
    .section-aboutUs{
        display: flex;
        flex-direction: column;
        .section-titulos{
            text-align: center;
    
            
            h1{
                top: 100px;
                font-size: 28px;
            }
            h2{
                
                top: 90px;
                font-size: 15px;
            }
            p{
                padding: 15px;
                text-align: justify;
                top: 100px;
                font-size: 16px;  
            }
        }
    
        //Contenido de img y parrafos
        
        .img-contenido{
            
            position: relative;
            left: 0px;
            top: 400px;
    
            
            h6{
                font-size: 15px;
                padding-top: 60px;
                text-align: center;
            }
            p{
                
                font-size: 12.5px;
                padding: 10px;
                text-align: center;
            }
            i{
                
                top: 20px;
                left: 260px;
            }
            
           
            //Posicion de los iconos con los parrafos
            .iconPerson i{
                top: 10px;
            }
            .iconSinLimites i{
                top: 20px;
                
                
            }
         
        }
        
        //imagen de fondo
        .imgFondo{
            justify-content: center;
            img{
                left: 2px;
                width: 250px;
                top: -850px; 
            }
        }
        
    }

    //Blog de la academia
    body,html{
        height: 150%;
    }
    
    
    //Parte negra
    .section{
    
        width: 100%;
       
        .titulo-blog h1{
            top: 60px;
            font-size: 35px;
            
        }
        .boton-busqueda{
            top: 120px;
            left: 20px;
            text-align: center;
            
            input{
                width: 60%;
            }
        }
    }
    
    .tarjetas-section{
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .conteiner-blog {


            //para q se vea una abajo de la otra
            flex-direction: column;
            align-items: center;




            width: 100%;
            display: flex;
            justify-content: space-around; /* Alinea las tarjetas con espacio alrededor */
            max-width: 1100px;
        }
    
        .card {
            width: 80%;/* Ajusta el ancho según tus necesidades */
            
    
            
            img {
                width: 100%;
                height: 180px;
            }
            .contenido {
                padding: 15px;
                text-align: center;
                p {
                    line-height: 1.5;
                    color: #6a6a6a;
                }
                h3 {
                    font-weight: 400;
                    margin-bottom: 15px;
                }
            }
        }
    }

    //Contacto
    
    
    .body-contact{
        height: 110%;
    }
    .section-contact{
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px; 
        
    
        div{
            h1{
                position: relative;
                top: 120px;
                font-size: 30px;  
            }
            p{
                padding: 30px;
                text-align: justify;
                position: relative;
                top: 120px;
                font-size: 16px;
            }
        }
        
    }
    
    form{
        
        position: absolute;
        left: 80px;
        top: 700px ;
    
        label{
            color: rgb(255, 255, 255); 
        }
        .form-control{
            
            width: 80%;
            height: 40px;
        }
        .input-group{
            width: 80%; 
        }
    
        // El formulario provincia lo muevo para que quede al lado del inpum ciudad
        .col-md-3{ 
            position: relative;
            left:0px;
            width: 80%;
        } 
    
    }
    
    .imgContact{
            
        img{
            position: relative;
            text-align: center;
            top: 150px;
            left: 140px;
            width: 300px;
                
        }
    }

    //footer
    .footer{
        text-align: center;
        flex-direction: column;
        height: 80px;
    
        i{
            
            padding: 10px;
            position: relative;
            top: -25px;
            left: 10px;
                        
        }
        
        .footer-tex{
            padding: 20px;
            font-size: 11px;
            
        }
        
    }
}
@media only screen and (min-width: 600px) and (max-width:768px){

    //header
    .navbar{
        //Logo de mi pagina
        img{
            left: 50px;
        }
    }

    //index
    
    .section-index{
        flex-direction:column;
        div{
            h1{
                text-align: center;  
                font-size: 20px;
                top: 60px;
            }
        }
    
        video{
            position: relative; /* Permite el desplazamiento relativo del video*/
            left: 0px;  /* Mueve el video 300px hacia la derecha*/
            top: 100px; /* Mueve el video hacia abajo*/  /* si lo queremos mover hacia arriba usamos el signo menor (-)*/
            width: auto;
        }
    
        div {
            p{
                text-align: center;
                font-size: 37px;
            }
        }
        div{
            div{
                p{
                    position: relative;
                    top: 85px;
                    font-size: 16px;
                }
            }
        }
    
    }

    //AboutUS
    
    .section-aboutUs{
        display: flex;
        flex-direction: column;
        .section-titulos{
            text-align: center;
    
            
            h1{
                top: 100px;
                font-size: 28px;
            }
            h2{
                
                top: 90px;
                font-size: 15px;
            }
            p{
                padding: 15px;
                text-align: justify;
                top: 100px;
                font-size: 16px;  
            }
        }
    
        //Contenido de img y parrafos
        
        .img-contenido{
            
            position: relative;
            left: 0px;
            top: 400px;
    
            
            h6{
                font-size: 15px;
                padding-top: 60px;
                text-align: center;
            }
            p{
                
                font-size: 12.5px;
                padding: 10px;
                text-align: center;
            }
            i{
                
                top: 20px;
                left: 290px;
            }
            
           
            //Posicion de los iconos con los parrafos
            .iconPerson i{
                top: 10px;
            }
            .iconSinLimites i{
                top: 20px;
                
                
            }
         
        }
        
        //imagen de fondo
        .imgFondo{
            justify-content: center;
            img{
                left: 2px;
                width: 250px;
                top: -800px; 
            }
        }
        
    }

    //Blog de la academia
    body,html{
        height: 150%;
    }
    
    
    //Parte negra
    .section{
    
        width: 100%;
       
        .titulo-blog h1{
            top: 60px;
            font-size: 35px;
            
        }
        .boton-busqueda{
            top: 120px;
            left: 20px;
            text-align: center;
            
            input{
                width: 60%;
            }
        }
    }
    
    .tarjetas-section{
        position: relative;
        top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .conteiner-blog {


            //para q se vea una abajo de la otra
            flex-direction: column;
            align-items: center;




            width: 100%;
            display: flex;
            justify-content: space-around; /* Alinea las tarjetas con espacio alrededor */
            max-width: 1100px;
        }
    
        .card {
            width: 80%;/* Ajusta el ancho según tus necesidades */
            
    
            
            img {
                width: 100%;
                height: 180px;
            }
            .contenido {
                padding: 15px;
                text-align: center;
                p {
                    line-height: 1.5;
                    color: #6a6a6a;
                }
                h3 {
                    font-weight: 400;
                    margin-bottom: 15px;
                }
            }
        }
    }

    //Contacto
    
    
    .body-contact{
        height: 110%;
    }
    .section-contact{
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px; 
        
    
        div{
            h1{
                position: relative;
                top: 120px;
                font-size: 30px;  
            }
            p{
                padding: 30px;
                text-align: justify;
                position: relative;
                top: 120px;
                font-size: 16px;
            }
        }
        
    }
    
    form{
        
        position: absolute;
        left: 80px;
        top: 700px ;
    
        label{
            color: rgb(255, 255, 255); 
        }
        .form-control{
            
            width: 80%;
            height: 40px;
        }
        .input-group{
            width: 80%; 
        }
    
        // El formulario provincia lo muevo para que quede al lado del inpum ciudad
        .col-md-3{ 
            position: relative;
            left:0px;
            width: 80%;
        } 
    
    }
    
    .imgContact{
            
        img{
            position: relative;
            text-align: center;
            top: 150px;
            left: 170px;
            width: 360px;
                
        }
    }

    //footer
    .footer{
        text-align: center;
        flex-direction: column;
        height: 80px;
    
        i{
            
            padding: 10px;
            position: relative;
            top: -25px;
            left: 10px;
                        
        }
        
        .footer-tex{
            padding: 20px;
            font-size: 11px;
            
        }
        
    }
}